@font-face {
    font-family: StratosSkyeng;
    src: url('../static/fonts/Desktop\ fonts/StratosSkyeng-regular.otf')
        format('opentype');
}

body {
    margin: 0;
    background-color: #004980;
    font-family: StratosSkyeng, sans-serif;
}

.container,
.game-result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c2f5ff;
    width: 480px;
    height: 459px;
    top: 158px;
    left: 272px;
    border-radius: 12px;
}

.container-title {
    color: #004980;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.container-levels {
    display: flex;
    gap: 10px;
}

input {
    display: none;
}

.radio-label {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white;
    width: 98px;
    height: 98px;
    top: 354px;
    left: 341px;
    border-radius: 12px;
    color: #0080c1;
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    box-sizing: border-box;
}

.container-level:checked + label {
    color: #7ac100;
}

.start-button {
    margin-top: 40px;
    width: 246px;
    height: 50px;
    background-color: #7ac100;
    border: #7ac100;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: white;
}

/* Game page */
.game-page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.timer {
    color: white;
    display: flex;
}

.timer-number {
    font-size: 64px;
}

.time {
    display: flex;
    height: 91px;
}

.restart-button {
    width: 246px;
    height: 50px;
    background-color: #7ac100;
    border: #7ac100;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: white;
}

/* Game page 2 & 3 */
.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.game-space {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
    max-width: 975px;
}

.game-card {
    width: 95px;
    height: 133px;
    border-radius: 4px;
}

.time-spent {
    text-align: center;
    font-size: 24px;
    line-height: 24px;
}

.time-spent-timer {
    text-align: center;
    font-size: 64px;
    font-weight: 400;
}

.game-result-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 73, 128, 0.8)
}

.result-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c2f5ff;
    width: 480px;
    height: 459px;
}

.result-title {
    font-size: 40px;
    font-weight: 400;
    color: #004980;
    max-height: 40px
}

.result-button {
    width: 246px;
    height: 50px;
    background-color: #7ac100;
    border: #7ac100;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: white;
}

